@model ContactInfo.Infrastructure.Data.Models.Contact
@{
    //ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted"> Delete Contact</h2>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.ImageURL" />
            </div>
        </div>
        <div class="col-md-4">
            First Name <p id="fname">@Model.FirstName</p>
            Last Name <p id="lname">@Model.LastName</p>
            Mobile <p id="mobile">@Model.Mobile</p>
            Email <p id="gname">@Model.Email</p>
        </div>
    </div>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn-danger" />
            <a asp-action="Index">Back to list</a>
        </form>
    </div>
</div>
