@model ContactInfo.Infrastructure.Data.Models.ViewModels.ContactDetails
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted"> Contact Detail</h2>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.ImageURL" />
            </div>
        </div>
        <div class="col-md-4">
            First Name<p id="fname">@Model.FirstName</p>
            Last Name <p id="lname">@Model.LastName</p>
            Mobile <p id="mobile">@Model.Mobile</p>
            Group <p id="gname">@Model.GroupName</p>
        </div>
    </div>
    <a asp-action="Index">Back to list</a>

</div>

